* {
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    margin-top: 10px;
}

h1 {
    align-items: center;
    text-align: center;
    font-size: 45px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço entre os itens */
    border-radius: 8px; /* Borda arredondada opcional */
    width: 290px;
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding: 15px;
    border: none; /* Remove a borda */
    border-radius: 4px; /* Borda arredondada opcional */
    background-color: #b6b6b6; /* Fundo cinza claro para os campos */
    width: 100%;
}

.forgot-password {
    color: #007bff;
    text-decoration: none;
    align-self: flex-end; /* Alinha o link à direita, opcional */
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login {
    background-color: #007bff;
    color: #fff;
    border: none;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login:hover {
    transform: scale(1.1);
}

.facebook-login {
    display: flex; /* Usa flexbox para alinhar ícone e texto */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center;
    color: #007bff; /* Cor do texto */
    font-size: 14px; /* Tamanho do texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fonte do texto */
    text-decoration: none; /* Remove o sublinhado do link */
}

.facebook-login i {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
    font-size: 16px; /* Tamanho do ícone */
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}